a {
  font-style: bold;
}

body {
  font-family: Helvetica;
}

body > div {
  margin: 1em;
  vertical-align: top;
}

.config {
  display: inline-block;
  input {
    margin: 0 1em;
  }
}

.movement, .tempo {
  margin: 1em 0;
  padding: 1em 0;
  width: 300px;
  border-top: solid black 1px;
}

.probabilities {
  display: inline-block;
  .tempo, .movement {
    margin: 2em 0;
    ol {
      cursor: pointer;
    }
  }
}

label {
  display: block;
  padding: 0;
}

.title {
  display: none;
  span {
  display: none;
}
}

.score {
  font-family: cursive;
  font-size: 1.5em;
  float: right;
  clear: both;
  text-align: right;
  margin-top: 0;
  h1 {
    margin: 0;
    padding-top: 0;
  }
}

.score-info {
  display:none;
}

.go, .print {
  display: inline-block;
  border: solid black 1px;
  padding: .25em;
  margin: 0 0 1em 0;
  cursor: pointer;
  &:hover {
    background: grey;
  }
}
